%h1= "#{@name}'s Blog"

- @posts.each do |post|
  %h4= link_to post.created_at.strftime("%m/%d/%y") + ":  " + post.title, post_path(post)

  
.row.collapse
  .small-offset-4.columns
    = link_to 'New Post', new_post_path, class: "button radius"
