%html
%head
  %title SilasBlog
  %link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css')
  =javascript_include_tag "application"
  =csrf_meta_tags
  =stylesheet_link_tag "application", :media => "all"
%body
  -if flash[:notice].present?
    %p.flash-notice=flash[:notice]

  =yield

